@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.card {
  background-color: $color-neutral-white;
  box-shadow: $elevation-01;

  img {
    width: 18rem;
    height: 18rem;
  }

  &__text {
    width: 18rem;
    height: 8.063rem;

    h1 {
      font-size: $font-size-22;
      color: $color-primary-darknavy;
    }

    p {
      font-size: $font-size-15;
      color: $color-neutral-grayishblue;
      letter-spacing: 0.012rem;
      width: 16rem;
      margin: 0;
    }
  }
}
