@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.card {
  background-color: $color-neutral-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 288px;
    height: 288px;
  }
}
