@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.card {
  background-color: $color-neutral-white;
  box-shadow: $elevation-01;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 18rem;
    height: 18rem;
  }

  &__text {
    width: 18rem;
    height: 8.063rem;

    h1 {
      font-size: $font-size-22;
    }

    p {
      font-size: $font-size-15;
      width: 16rem;
      margin: 0;
    }
  }
}
