/* ----- Primary Colors ----- */
$color-primary-darknavy: hsl(218, 44%, 22%);

/* ----- Neutral Colors ----- */
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-lightgray: hsl(212, 45%, 89%);
$color-neutral-grayishblue: hsl(220, 15%, 55%);
