@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.todolist {
  li {
    background-color: $color-neutral-white;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
      text-decoration: line-through;
      transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    }

    &.clicked {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }
}
